$color-azul: #002a7d;
$color-amarillo: #ffda09;

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: #00263b;
}
span {
  font-weight: bold;
}

.remove {
  display: none;
}

h3 {
  margin: 10px;
}

p {
  margin: 8px;
}

h1 {
  text-align: center;

  background: linear-gradient(yellow, red);
  -webkit-background-clip: text;
  color: transparent;
}

.players__container {
  display: flex;
  overflow: auto;
  border-radius: 8px;
  margin-bottom: 42px;
}

.alternetes {
  display: flex;
  overflow: auto;
  border-radius: 8px;
  margin-bottom: 42px;
}

.alternete {
  text-align: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 6px;
}

.alternete .remove {
  display: block;
  margin: 4px auto;
  background: orangered;
  color: white;
  padding: 5px 10px;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  border: none;
}

article img {
  width: 90px;
  height: 70px;
  border-radius: 100%;
}

.btn__container {
  display: flex;
}

.btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  color: white;
  box-shadow: inset 0 -0.2em rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 4px;
  font-weight: bold;
  outline: none;
}

.btn.holderBtn {
  background: #efd009;
}

.btn.alterneteBtn {
  background: blue;
}

.selectTeam__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 12px;
  border-radius: 12px;
  margin: 40px auto;
  border-left: 5px solid yellow;
  border-right: 5px solid #3a4ed5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 5px;
  -moz-background-size: 100% 5px;
  background-size: 100% 5px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left, yellow 0%, #3a4ed5 100%),
    -webkit-linear-gradient(left, yellow 0%, #3a4ed5 100%);
  background-image: -moz-linear-gradient(left, yellow 0%, #3a4ed5 100%),
    -moz-linear-gradient(left, yellow 0%, #3a4ed5 100%);
  background-image: -o-linear-gradient(left, yellow 0%, #3a4ed5 100%),
    -o-linear-gradient(left, yellow 0%, #3a4ed5 100%);
  background-image: linear-gradient(to right, yellow 0%, #3a4ed5 100%),
    linear-gradient(to right, yellow 0%, #3a4ed5 100%);
}

.player {
  text-align: center;
  padding: 12px;
  border-radius: 14px;
  border: 1px solid gray;
  margin: 6px;
}

.holders {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}
.field {
  width: 100%;
}

.holder {
  position: absolute;
  background: #6f0000;
  border-radius: 100%;
}

.holder:hover {
  background: black;
  opacity: 0.5;
}

.holder:hover .remove {
  display: block;
  position: absolute;
  font-size: 32px;
  cursor: pointer;
  color: white;
  background: transparent;
  border: none;
  top: 22%;
  left: 36%;
}

.holders .holder:nth-of-type(1) {
  top: 42%;
  right: 66%;
}

.holders .holder:nth-of-type(2) {
  top: 10%;
  right: 52%;
}

.holders .holder:nth-of-type(3) {
  top: 68%;
  right: 14%;
}

.holders .holder:nth-of-type(4) {
  top: 54%;
  right: 36%;
}

.holders .holder:nth-of-type(5) {
  top: 14%;
  right: 22%;
}

@media screen and (max-width: 480px) {
  article img {
    width: 50px;
    height: 50px;
  }
}
